@model ECommerce.Data.Models.product

@{
    ViewBag.Title = "addToCart";
}

<h2>addToCart</h2>

hetha ech femma fel panier : <br />

@ViewBag.Count <br />

************************************************ <br />


@ViewBag.Total 



